*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 255);
    height: 100vh;
}

.bloczek{
    float: left;
    width: 200px;
    height: 375px;
    background-color: grey;
    margin: 100px;
    padding: 20px;
    border: 5px double red;
}

.bloczek:nth-child(2){
    width: calc(100% - 180px - 20px - 20px - 30px);
}

.bloczek:nth-child(3){
    width: calc(100% - 180px - 20px - 20px - 30px);
}

.bloczek:nth-child(5){
    width: calc(100% - 50px);
}

#clear{
    clear: both;
}